
<form accept-charset="UTF-8" novalidate ng-controller="UserFormCtrl" name="newUserForm">

  <input name="utf8" type="hidden" value="&#x2713;">
  
  <div class="form-group">
    <label for="user_name">Name</label><br>
    <input id="user_name" class="form-control" ng-model="formData.name" type="text">
  </div>
  <div class="form-group">
    <label for="user_email">Email</label><br>
    <input id="user_email" class="form-control" ng-model="formData.email" type="text">
  </div>
  <div class="form-group">
    <label for="user_role">Role</label><br>
    <input id="user_role" class="form-control" ng-model="formData.role" type="text">
  </div>

  <div class="actions">
    <input ng-click="createUser(formData)" type="submit" value="Create user">
  </div>
  
</form>
