<h1>Listing people</h1>

<div class="row" ng-controller="UserCtrl">

  <div class="col-md-9">
    <ul class="list-group">
      <li ng-repeat="user in users" class="list-group-item">
        {{ user.id }}, {{ user.name }}, {{ user.email }}
        <button class="" data-ng-click="editUser(user)">Edit</button>
        <button class="" data-ng-click="deleteUser(user)">Delete</button>
      </li>
    </ul>
  </div>

  <div class="col-md-3">

    <form accept-charset="UTF-8" novalidate name="editableUserForm">

      <input type="hidden" ng-model="editableUser.id">
      
      <div class="form-group">
        <label for="user_name">Name</label>
        <input id="user_name" class="form-control" ng-model="editableUser.name" type="text">
      </div>
      <div class="form-group">
        <label for="user_email">Email</label>
        <input id="user_email" class="form-control" ng-model="editableUser.email" type="text">
      </div>
      <div class="form-group">
        <label for="user_role">Role</label>
        <!-- input id="user_role" class="form-control" ng-model="editableUser.role" type="text" -->
        <select id="user_role" ng-model="editableUser.role" class="form-control">
          <option value="user">User</option>
          <option value="manager">Manager</option>
          <option value="admin">Admin</option>
        </select>
      </div>

      <div class="actions">
        <input ng-click="saveUser(editableUser)" type="submit" value="Save">
      </div>
      
    </form>

  </div>

</div>