<h1>Listing people</h1>

<div ng-controller="UserListCtrl">
  <div ng-repeat="user in userList">
    {{ user.id }}, {{ user.name }}, {{ user.email }}
  </div>
</div>

<div>
  <%= render 'form' %>
</div>
