
<% if resource.errors.any? %>
  <% resource.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger"><%= msg %></div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h1>Reset password</h1>
  </div>
</div>

<div class="row fi-mt100">
  <div class="col-md-4 col-md-offset-2">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), 
      :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
    <div class="form-group">
      <%= f.label :email, :class => 'control-label sr-only' %>
      <div>
        <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email', :autofocus => true %>
      </div>
    </div>

    <div class="actions text-right">
      <div>
        <input type="submit" value="Submit" 
          class="btn btn-default btn-success fi-btn-wide">
      </div>
    </div>
  <% end %>
  </div>
  
  <div class="col-md-4 col-md-offset-1">
    <p></p>
  </div>
</div>
