<div ng-controller="FormCompsAdminCtrl">
  <!-- div -->
    <table class="table fi-comps-table">
      <tr ng-repeat="comp in comps | orderBy: '+ordr'">
        <td class="fi-nl2br">{{ comp.content }}</td>
        <td class="text-right">
          <button class="btn btn-default fi-btn-slim" ng-click="moveCompUp(comp)" ng-hide="$first"
             ng-class="{ 'fi-fa-margin': $last }">
            <i class="fa fa-angle-up fa-lg"></i>
          </button>
          <button class="btn btn-default fi-btn-slim" ng-click="moveCompDown(comp)" ng-hide="$last">
            <i class="fa fa-angle-down fa-lg"></i>
          </button>
          <button class="btn btn-default fi-btn-slim" ng-click="editComp(comp)">
            <i class="fa fa-edit fa-lg"></i>
          </button>
          <button class="btn btn-default fi-btn-slim" ng-click="deleteConfirm(comp)">
            <i class="fa fa-trash-o fa-lg"></i>
          </button>
        </td>
      </tr>
    </table>
  <!-- /div -->
  
  <div>
    <form accept-charset="utf-8" novalidate name="eCompForm">
      <div class="form-group" ng-class="{ 'has-error': eCompForm.comp_content.$invalid && submitted }">
        <label for="comp_content" class="sr-only">Competency</label>
        <textarea class="form-control fi-vresize" name="comp_content" ng-model="eComp.content" 
              ng-required="true" ng-minlength="1" rows="2" placeholder="Competency"></textarea>
        <p ng-show="eCompForm.comp_content.$invalid && submitted" 
              class="help-block">Content is required</p>
      </div>
      <div class="actions text-right">
        <button ng-click="saveComp(eComp, eCompForm.$valid)" type="button"
          class="btn btn-default btn-success btn-sm fi-btn-wide">Save</button>
        <button ng-click="clearForm()" class="btn btn-default btn-sm">
          <i class="fa fa-eraser" tooltip="Clear form" 
            tooltip-placement="bottom" tooltip-popup-delay="1500"></i></button>
      </div>
    </form>
  </div>
</div>