<h1>Manage reviews</h1>


<form novalidate name="editableUserReviewForm">

<div class="row">

  <div class="col-md-4">
    <h2>User</h2>
    <select id="user_id" class="form-control" ng-model="editableUserReview.user_id" 
      ng-options="user.id as user.name for user in users">
    </select>
  </div>
  
  <div class="col-md-4">
    <h2>Form</h2>
    <select id="form_id" class="form-control" ng-model="editableUserReview.form_id"
      ng-options="form.id as form.name for form in forms">
    </select>
  </div>
  
  <div class="col-md-4">
    <h2>Reviewer</h2>
    <select id="review_id" class="form-control" ng-model="editableUserReview.reviewer_id" 
      ng-options="user.id as user.name for user in users">
    </select>
  </div>

</div>

<div class="row">
  
  <div class="text-right">
    <input ng-click="saveUserReview(editableUserReview)" type="submit" value="Submit">
  </div>
  
</div>

<div class="row">
  <table class="table table-hover">
    <tr ng-repeat="userReview in userReviews">
      <td>{{ userReview.user_name }}</td>
      <td>{{ userReview.form_name }}</td>
      <td>{{ userReview.reviewer_name }}</td>
      <td>
        <button class="" data-ng-click="editUserReview(userReview)">Edit</button>
        <button class="" data-ng-click="deleteUserReview(userReview)">Delete</button>
      </td>
    </tr>
  </table>
</div>

</form>