<h1>Form#edit</h1>

<div ng-controller="TopicCtrl">
  
<div ng-repeat="topic in topics | orderBy: '+ordr'" class="row">
  {{ topic.name }}
  <button class="" data-ng-click="deleteTopic(topic)">Delete</button>
  
  <div class="row col-md-offset-1" ng-controller="BenchmarkCtrl">
    <div ng-repeat="benchmark in benchmarks | orderBy: '+ordr'" class="row">
    {{ benchmark.content }}
    <button class="" data-ng-click="deleteBenchmark(benchmark)">Delete</button>
    </div>
    
    <form accept-charset="utf-8" novalidate name="editableBenchmarkForm">
      <input type="hidden" ng-model="editableBenchmark.id">
      <div class="form-group">
        <label for="benchmark_content">Content</label>
        <input id="benchmark_content" class="form-control" ng-model="editableBenchmark.content" type="text">
        <span class="help-block" ng-show="errorName">{{ errorName }}</span>
      </div>

      <div class="actions">
        <input ng-click="saveBenchmark(editableBenchmark)" type="submit" value="Save">
      </div>
      
    </form>
  </div>
</div>

<div class="row">

  <form accept-charset="utf-8" novalidate name="editableTopicForm">
    <input type="hidden" ng-model="editableTopic.id">
    <div class="form-group">
      <label for="topic_name">Name</label>
      <input id="topic_name" class="form-control" ng-model="editableTopic.name" type="text">
      <span class="help-block" ng-show="errorName">{{ errorName }}</span>
    </div>

    <div class="actions">
      <input ng-click="saveTopic(editableTopic)" type="submit" value="Save">
    </div>
    
  </form>
  
</div>

</div>
