<!-- h1>Form#edit</h1 -->

<div ng-repeat="topic in topics | orderBy: '+ordr'" class="row">
  
  <div class="col-md-12" ng-include="'/templates/forms/manage_topic.html'">
  </div>

</div>

<div class="row">

  <form class="form-horizontal" accept-charset="utf-8" novalidate name="editableTopicForm">
    <input type="hidden" ng-model="editableTopic.id">
    
    <label for="topic_name" class="col-md-1 control-label">Topic</label>
    
    <div class="col-md-10" ng-class="{ 'has-error': editableTopicForm.topic_name.$invalid && submitted }">
      <input name="topic_name" class="form-control" ng-model="editableTopic.name" type="text"
        ng-required="true" ng-minlength="4" ng-maxlength="100">
      <p ng-show="editableTopicForm.topic_name.$invalid && submitted" 
        class="help-block">A topic is required</p>
    </div>
    <div class="col-md-1">
      <button ng-click="saveTopic(editableTopic, editableTopicForm.$valid)" type="button"
        class="btn btn-default">Save</button>
    </div>

  </form>
  
</div>