<!-- h1>Form#edit</h1 -->

<div ng-repeat="topic in topics | orderBy: '+ordr'" class="row">
  
  <div class="col-md-12">
  
  <div class="panel panel-default">
    <div class="panel-heading">{{ topic.name }}
      <span class="pull-right">
        <button class="btn btn-default btn-xs" ng-click="moveTopicUp(topic)">
          <span class="glyphicon glyphicon-arrow-up"></span>
        </button>
        <button class="btn btn-default btn-xs" ng-click="moveTopicDown(topic)">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </button>
        <button class="btn btn-default btn-xs" ng-click="editTopic(topic)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="btn btn-default btn-xs" ng-click="deleteTopic(topic)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </span>
    </div>
    
    <table class="table table-hover" ng-controller="BenchmarksCtrl">
      <tr ng-repeat="benchmark in benchmarks | orderBy: '+ordr'">
        <td colspan="2">{{ benchmark.content }}</td>
        <td class="text-right">
          <button class="btn btn-default btn-xs" ng-click="moveBenchmarkUp(benchmark)">
            <span class="glyphicon glyphicon-arrow-up"></span>
          </button>
          <button class="btn btn-default btn-xs" ng-click="moveBenchmarkDown(benchmark)">
            <span class="glyphicon glyphicon-arrow-down"></span>
          </button>
          <button class="btn btn-default btn-xs" ng-click="editBenchmark(benchmark)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-default btn-xs" ng-click="deleteBenchmark(benchmark)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
      <tr>
          <td class="" ng-class="{ 'has-error': editableBenchmarkForm.benchmark_content.$invalid 
                && submitted }">
          <form accept-charset="utf-8" class="form-horizontal" novalidate name="editableBenchmarkForm">
            <input type="hidden" ng-model="editableBenchmark.id">
            
            <label for="benchmark_content" class="control-label">Question</label>
          </td>
          <td>
              <textarea class="form-control" name="benchmark_content" ng-model="editableBenchmark.content" 
                ng-required="true" ng-minlength="2" rows="2"></textarea>
              <p ng-show="editableBenchmarkForm.benchmark_content.$invalid && submitted" 
                  class="help-block">Content is required</p>
          </td>
          <td class="">
            <button ng-click="saveBenchmark(editableBenchmark, editableBenchmarkForm.$valid)" type="button"
              class="btn btn-default btn-sm">Save</button>
          </td>
        </form>
      </tr>
    </table>
  </div>
  
  </div>

</div>

<div class="row">

  <form class="form-horizontal" accept-charset="utf-8" novalidate name="editableTopicForm">
    <input type="hidden" ng-model="editableTopic.id">
    
    <label for="topic_name" class="col-md-1 control-label">Topic</label>
    
    <div class="col-md-10" ng-class="{ 'has-error': editableTopicForm.topic_name.$invalid && submitted }">
      <input name="topic_name" class="form-control" ng-model="editableTopic.name" type="text"
        ng-required="true" ng-minlength="4" ng-maxlength="100">
      <p ng-show="editableTopicForm.topic_name.$invalid && submitted" 
        class="help-block">A topic is required</p>
    </div>
    <div class="cold-md-1">
      <button ng-click="saveTopic(editableTopic, editableTopicForm.$valid)" type="button"
        class="btn btn-default">Save</button>
    </div>

  </form>
  
</div>