<h1>Form#edit</h1>

<div ng-controller="FormSectionCtrl">
  <!-- fix when i can get routing to work (then take it from url) -->
  <input type="hidden" id="form_id" value="<%= @form.id %>">
  
<div ng-repeat="section in sections | orderBy: '+ordr'" class="row">
  {{ section.name }}
  <button class="" data-ng-click="deleteSection(section)">Delete</button>
  
  <div class="row col-md-offset-1" ng-controller="SectionBenchmarkCtrl">
    <div ng-repeat="benchmark in benchmarks | orderBy: '+ordr'" class="row">
    </div>
    
    <form accept-charset="utf-8" novalidate name="editableBenchmarkForm">
      <input type="hidden" ng-model="editableBenchmark.id">
      <div class="form-group">
        <label for="benchmark_name">Name</label>
        <input id="benchmark_name" class="form-control" ng-model="editableBenchmark.name" type="text">
        <span class="help-block" ng-show="errorName">{{ errorName }}</span>
      </div>

      <div class="actions">
        <input ng-click="saveBenchmark(editableBenchmark)" type="submit" value="Save">
      </div>
      
    </form>
  </div>
</div>

<div class="row">

  <form accept-charset="utf-8" novalidate name="editableSectionForm">
    <input type="hidden" ng-model="editableSection.id">
    <div class="form-group">
      <label for="section_name">Name</label>
      <input id="section_name" class="form-control" ng-model="editableSection.name" type="text">
      <span class="help-block" ng-show="errorName">{{ errorName }}</span>
    </div>

    <div class="actions">
      <input ng-click="saveSection(editableSection)" type="submit" value="Save">
    </div>
    
  </form>
  
</div>

</div>
