
<div class="row">
  <div class="col-md-8">
    <h1>Evaluations
    <span class="pull-right">
      <a href="/#/help" class="fi-help" target="_blank"><i class="fa fa-question-circle"
         tooltip="Help" tooltip-placement="bottom" tooltip-popup-delay="100"></i></a>
    </span></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="fi-panel">
      <table class="table table-hover">
        <tr ng-repeat="evaluation in evaluations | orderBy: '+name' | filter: { team_id: team_id }">
          <td class="fi-5pc">
            <gravatar data-hash="evaluation.email_hash" data-size="25"></gravatar>
          </td>
          <td>
            <a href="{{ evaluation.manage_path }}">{{ evaluation.name }}</a>
          </td>
          <!-- td class="fi-5pc">
            <i class="fa fa-user fa-lg"></i> x {{ evaluation.num_user_evaluations }}
          </td -->
          <td class="fi-5pc">
            <span ng-hide="evaluation.done">
              <button class="btn btn-default fi-btn-slim" 
                ng-click="setMode(evaluation, 'evaluations')" ng-show="'evaluations' !== evaluation.mode">
                <i class="fa fa-file-text-o fa-lg" tooltip="Evaluation mode" 
                  tooltip-placement="bottom" tooltip-popup-delay="100"></i>
              </button>
              <button class="btn btn-default fi-btn-slim" 
                ng-click="setMode(evaluation, null)" ng-show="'evaluations' == evaluation.mode">
                <i class="fa fa-file-text fa-lg fi-blue" tooltip="Feedback mode" 
                  tooltip-placement="bottom" tooltip-popup-delay="100"></i>
              </button>
            </span>
          </td>
          <td class="fi-5pc">
            <span ng-hide="evaluation.done">
              <button class="btn btn-default fi-btn-slim" 
                ng-click="setMode(evaluation, 'feedback')" ng-show="'feedback' !== evaluation.mode">
                <i class="fa fa-comment-o fa-lg" tooltip="Evaluation mode" 
                  tooltip-placement="bottom" tooltip-popup-delay="100"></i>
              </button>
              <button class="btn btn-default fi-btn-slim" 
                ng-click="setMode(evaluation, null)" ng-show="'feedback' == evaluation.mode">
                <i class="fa fa-comment fa-lg fi-blue" tooltip="Feedback mode" 
                  tooltip-placement="bottom" tooltip-popup-delay="100"></i>
              </button>
            </span>
          </td>
          <td class="fi-5pc">
            <i class="fa fa-check fa-lg fi-blue" ng-show="evaluation.done"></i>
          </td>
          <td class="fi-5pc">
            &nbsp;
          </td>
          <td class="text-right fi-5pc">
            <button class="btn btn-default fi-btn-slim" ng-click="deleteConfirm(evaluation)">
              <i class="fa fa-trash-o fa-lg"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <div class="fi-panel">
      <h4>Create evaluation</h4>
      <select ng-model="team_id" class="form-control"
        ng-options="team.id as team.name for team in teams | orderBy: '+name'">
        <option value="">Filter by team</option>
      </select>
      <br><!-- hr -->
      <div class="btn-group-vertical btn-group-justified">
        <div class="btn-group">
          <button ng-repeat="user in users | orderBy: '+name' | filter: { team_id: team_id }" 
            ng-click="createEvaluation(user.id)" btn-checkbox ng-model="user.added" 
            type="button" class="btn btn-default fi-btn">{{ user.name }}</button>
        </div>
      </div>
    </div>
  </div>
  
</div>
