
<div class="row">
  
  <div class="col-md-8">
    <h2>Evaluations</h2>
  
    <p>Evaluations help text</p>
  </div>

</div>

<div class="row">

  <div class="col-md-8">
  
  <div class="panel panel-default">
    <!-- div class="panel-heading">Evaluations</div -->
    <!-- div class="panel-body">
    </div -->
    <table class="table table-hover">
      <tr ng-repeat="evaluation in evaluations | orderBy: '-created_at'">
        <td>
          <a href="{{ evaluation.manage_path }}">{{ evaluation.user.name }}</a>
        </td>
        <td class="text-right">
          <button class="btn btn-default fi-btn-slim" ng-click="deleteEvaluation(evaluation)">
            <i class="fa fa-trash-o fa-lg"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
  
  </div>

  <div class="col-md-4">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <span ng-hide="eEvaluation.id">New evaluation</span>
      <span ng-show="eEvaluation.id">Update evaluation</span>
    </div>
    <!-- div class="panel-body">
    </div -->
    <div class="fi-panel-inner">

    <form accept-charset="utf-8" novalidate name="eEvaluationForm">
      <input type="hidden" ng-model="eEvaluation.id">
      
      <div class="form-group" ng-class="{ 'has-error': eEvaluationForm.evaluation_user.$invalid && submitted }">
        <label for="evaluation_user" class="sr-only">User</label>
        <select name="evaluation_user" ng-model="eEvaluation.user_id" class="form-control" 
          ng-options="user.id as user.name group by ucFirst(user.role) for user in users | 
            orderBy: ['+role_sort', '+name']" 
          ng-required="true">
          <option value="">Select a user</option>
        </select>
        <p ng-show="eEvaluationForm.evaluation_user.$invalid && submitted" 
          class="help-block">A user must be selected</p>
      </div>
      
      <div class="actions text-right">
        <input ng-click="saveEvaluation(eEvaluation, eEvaluationForm.$valid)" type="submit" value="Save"
          class="btn btn-default btn-success btn-sm fi-btn-wide">
        <button ng-click="clearForm()" class="btn btn-default btn-sm" title="Clear form">
          <i class="fa fa-eraser fa-lg"></i></button>
      </div>
      
    </form>
    
    </div>
  </div>
  </div>

</div>