
<div class="row">
  
  <div class="col-md-9">
    <h2>Evaluations</h2>
  
    <p>Evaluations help text</p>
  </div>

</div>

<div class="row">

  <div class="col-md-9">
    <div class="panel panel-default">
      <!-- div class="panel-heading">Evaluations</div -->
      <!-- div class="panel-body">
      </div -->
      <table class="table">
        <tr ng-repeat="evaluation in evaluations | orderBy: '-created_at'">
          <td>
            <a href="{{ evaluation.manage_path }}">{{ evaluation.name }}</a>
          </td>
          <td class="text-right">
            <button class="btn btn-default fi-btn-slim" ng-click="deleteConfirm(evaluation)">
              <i class="fa fa-trash-o fa-lg"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Create evaluation
      </div>
      <!-- div class="panel-body">
      </div -->
      <div class="fi-panel-inner">
        <select ng-model="team_id" class="form-control" 
          ng-options="team.id as team.name for team in teams | orderBy: '+name'">
          <option value="">Filter by team</option>
        </select>
        <br><!-- hr -->
        <div class="btn-group-vertical btn-group-justified">
          <div class="btn-group">
            <button ng-repeat="user in users | orderBy: '+name' | filter: { team_id: team_id }" 
              ng-click="updateAssignment(user)" btn-checkbox ng-model="user.form_id" 
              type="button" class="btn btn-default fi-form-user">{{ user.name }}</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
