
<div class="row">
  
  <div class="col-md-9">
    <h2>User evaluation</h2>
  
    <p>User evaluation help text</p>
  </div>

</div>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <!-- div class="panel-heading">User evaluations</div -->
      <div class="panel-body">
        User evaluations
      </div>
      <table class="table table-hover">
        <tr ng-repeat="user_evaluation in user_evaluations | orderBy: '+name'">
          <td>
            {{ user_evaluation.name }}
          </td>
          <td>
            {{ user_evaluation.progress }}
          </td>
          <td class="text-right">
            <button class="btn btn-default fi-btn-slim" ng-click="deleteConfirm(user_evaluation)">
              <i class="fa fa-trash-o fa-lg"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="col-md-3">
    <!-- tabbed user lists -->
    <div class="panel panel-default">
      <div class="panel-heading">Users</div>
      <!-- div class="panel-body">
      </div -->
      <div class="fi-panel-inner">
        <select ng-model="team_id" class="form-control" 
          ng-options="team.id as team.name for team in teams">
          <option value="">Filter by team</option>
        </select>
        <br><!-- hr -->
        <div class="btn-group-vertical btn-group-justified">
          <div class="btn-group">
            <button ng-repeat="user in users | orderBy: '+name' | filter: { team_id: team_id }" 
              ng-click="assign(user.id)" btn-checkbox ng-model="user"
              type="button" class="btn btn-default fi-form-user">{{ user.name }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
