
<% if @account.errors.any? %>
  <% @account.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger"><%= msg %></div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h1>Create account</h1>
  </div>
</div>

<div class="row fi-mt100">
  <div class="col-md-4 col-md-offset-2">
    <%= form_for @account, url: @url, :html => { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :email, :class => 'col-md-4 control-label sr-only' %>
      <div>
        <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %>
      </div>
    </div>
    
    <div class="actions text-right">
      <div>
        <input type="submit" value="Submit" 
          class="btn btn-default btn-sm btn-success fi-btn-wide">
      </div>
    </div>
  <% end %>
  </div>
  
  <div class="col-md-4 col-md-offset-1">
    <p>It's easy to get started: create a free account with your email address.</p>
    <!-- p>All the features are available for a few weeks.</p -->
  </div>
</div>
