/* fidobakku.css */

/* #415b76, #34495e - blue */
/* #48cfad, #37bc9b - green */
/* #fc6e51, #e9573f - page links */
/* #c43d4a - red */

/* remove browser focus style(s) */
*:focus {
  outline: none !important;
}

/* prevent page from "jumping" when not enough content for scrollbar */
html {
  overflow-y: scroll;
}

/* more content below nav + footer space */
body {
  background-color: #fff;
  margin: 50px 0 45px 0;
}

/* a {
  color: #415b76 !important;
} */

.main-container {
}

.fi-5pc {
  width: 5%;
  white-space: nowrap;
}

.fi-15pc {
  width: 15%;
  white-space: nowrap;
}

.panel-default .fi-panel-inner {
  padding: 8px;
}
.panel-default .fi-panel-inner .fi-btn-short {
  border: none;
  padding: 2px 8px;
  text-align: left;
}

.fi-fa-margin {
  margin-right: 22px;
}

.fi-comps-table {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.fi-vresize {
  resize: vertical;
}

/* .fi-form-user-list, .fi-eval-user-list {
  display: inline-block;
  width: 100%;
  max-width: 100%;
} */
.fi-form-user {
  color: #415b76;
  font-size: 15px;
  text-align: left;
}
.fi-form-user:hover {
  background-color: #ddd;
}
.fi-form-user.active {
  background-color: #415b76;
  color: #fff;
}

.fi-btn-wide {
  padding: 5px 20px;
}

.fi-btn-slim, .fi-btn-slim:hover {
  background-color: transparent;
  border-color: transparent;
  line-height: 1em;
  padding: 1px 2px 1px;
}

#fi-goal-content {
  margin-bottom: 20px;
}

#fi-goal-content textarea {
  /* background-color: #ddd; */
  color: #415b76;
  resize: none;
}

.footer {
  background-color: #fff;
  /* border-top: 1px solid #558baa; */
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer p {
  color: #558baa;
  margin: 5px 0;
}
