/* fidobakku.css */

/* 
#415b76 - blue
#34495e - dark blue
#48cfad - green 
#37bc9b - dark green
#c9505c - red
#c43d4a - dark red
*/
/* #fc6e51, #e9573f - page links - not in use */

/* remove browser focus style(s) */
*:focus {
  outline: none !important;
}

/* prevent page from "jumping" when not enough content for scrollbar */
html {
  min-height: 100%;
  overflow-y: scroll;
}

/* more content below nav + footer space */
body {
  background-color: #fff;
  margin: 80px 0 100px 0;
}

/* a {
  color: #415b76 !important;
} */

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.fi-dropdown-menu {
  background-color: #fff;
  border: none;
  padding: 0;
}
.dropdown-menu>li>a:hover i.fa, .dropdown-menu>li>a:focus i.fa {
  color: #fff;
}

.fi-container {
  padding-left: 0px;
  padding-right: 30px;
}

.fi-jumbotron {
  padding-bottom: 75px;
  padding-top: 75px;
  text-align: center;
}

.fi-jumbotron h1 {
  color: #333;
  font-size: 32px;
}

.fi-hero {
  background-color: #fff;
  position: fixed;
  z-index: 1000;
}

.fi-hero-margin {
  margin: 10px 0;
}

.fi-hero-stub {
  height: 110px;
}

a.fi-help {
  padding: 0px;
}

a.fi-help:hover {
  background-color: transparent;
}

.fi-row {
  margin-bottom: 0px;
}

.fi-mt100 {
  margin-top: 100px;
}

.fi-5pc {
  width: 5%;
  white-space: nowrap;
}

.fi-15pc {
  width: 15%;
  white-space: nowrap;
}

.fi-35pc {
  width: 35%;
  white-space: nowrap;
}

.fi-nl2br {
  white-space: pre-line;
}

.fi-blue {
  color: #415b76 !important;
}

.fi-green {
  color: #48cfad !important;
}

.fi-fa-margin {
  margin-right: 22px;
}

.fi-panel {
  margin-bottom: 50px;
}

.table {
  border-collapse: separate;
}

.fi-table {
  width: 100%;
}

.fi-prog-24 {
  background-color: transparent;
  height: 24px;
  width: 24px;
}

.fi-prog-80 {
  background-color: transparent;
  height: 80px;
  margin: 0 auto;
  width: 80px;
}

.fi-comps-table {
  /* border-bottom: 1px solid #ddd; */
  margin-bottom: 10px;
}
.fi-comps-table > tbody > tr > td,
.fi-comps-table > tbody > tr > th {
  border-bottom: 1px solid #ddd;
}

.fi-vresize {
  resize: vertical;
}

.fi-btn {
  text-align: left;
}
.fi-btn:hover {
  background-color: #ddd;
}
.btn.active {
  background-color: #415b76;
  color: #fff;
}

.fi-btn-wide {
  padding: 5px 20px;
}

.fi-btn-slim, .fi-btn-slim:hover {
  background-color: transparent;
  border-color: transparent;
  line-height: 1em;
  padding: 1px 2px 1px;
}

#fi-goal-content {
  margin-bottom: 20px;
}

#fi-goal-content textarea {
  /* background-color: #ddd; */
  color: #415b76;
  resize: none;
}

.fi-due-date {
  clear: left;
  color: #415b76;
  float: left;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.fi-due-date-m {
}
.fi-due-date-d {
  font-size: 30px;
}
.fi-due-date-y {
  font-weight: normal;
  padding-top: 2px;
}

/* .fi-due-date, .fi-due-date:hover, .fi-due-date:active, .fi-due-date:focus {
  border: 1px solid #ccc;
} */
/* .fi-due-date:focus {
  border-color: #415b76;
} */

.fi-datepicker > .dropdown-menu {
  padding: 8px;
}
.fi-datepicker > .dropdown-menu thead tr:first-child th > .btn-default {
  color: #415b76;
}
.fi-datepicker > .dropdown-menu thead tr.h6 th {
  color: #415b76;
  padding: 4px;
}
.fi-datepicker > .dropdown-menu tbody tr .btn-default {
  color: #415b76;
}
.fi-datepicker > .dropdown-menu tbody tr .btn-default[disabled] {
  border: none;
  color: #ddd;
}
.fi-datepicker > .dropdown-menu tbody tr .btn-default:hover {
  border: 1px solid #ddd;
}
.fi-datepicker > .dropdown-menu tbody td {
  padding: 2px;
}

.footer {
  background-color: #fff;
  border-top: 1px solid #415b76;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  position: fixed;
  width: 100%;
}

.footer > .container {
  padding-top: 5px;
}
