/* fidobakku.css */

/* #415b76, #34495e - blue */
/* #48cfad, #37bc9b - green */
/* #fc6e51, #e9573f - page links */
/* #c43d4a - red */

/* remove browser focus style(s) */
*:focus {
  outline: none !important;
}

/* prevent page from "jumping" when not enough content for scrollbar */
html {
  overflow-y: scroll;
}

/* more content below nav + footer space */
body {
  background-color: #fff;
  margin: 50px 0 45px 0;
}

/* a bit of breathing space between the icon and text */
i.fa {
  margin-right: 4px;
}

/* a {
  color: #415b76 !important;
} */

.main-container {
}

.fi-form-user-list {
  display: inline-block;
  width: 100%;
  max-width: 100%;
}
.fi-form-user {
  background-color: #ddd;
  color: #415b76;
  display: block;
  float: left;
  margin: 2px 0 2px 0;
  padding: 6px 12px 6px 12px;
  text-align: left;
  width: 100%;
  max-width: 100%;
}
.fi-form-user:hover {
  background-color: #ccc;
}
.fi-form-user-sel {
  background-color: #415b76;
  color: #fff;
}

.fi-btn-wide {
  padding: 5px 20px;
}

.fi-btn-slim, .fi-btn-slim:hover {
  background-color: transparent;
  border-color: transparent;
  line-height: 1em;
  padding: 1px 2px 1px;
}

.footer {
  background-color: #fff;
  /* border-top: 1px solid #558baa; */
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer p {
  color: #558baa;
  margin: 5px 0;
}
