/* flat.css */
/* remove drop-shadows, transitions, round corners, and gradients */

* {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  /* border-radius: 2px !important; */
  -webkit-transition: none;
  transition: none;
}
