/* font style/size */
@import url('//fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.dropdown-menu {
  font-size: 16px;
}

.form-control {
  font-size: 16px;
}

.btn {
  font-size: 16px;
}

i.fa {
  color: #ddd;
  margin: 3px 0;
}

.navbar i.fa, .panel-heading i.fa {
  color: #415b76;
}
.navbar-default .navbar-nav>li>a:hover i.fa, .navbar-default .navbar-nav>li>a:focus i.fa {
  color: #fff;
}

i.fa-question-circle:hover,
i.fa-angle-up:hover,
i.fa-angle-down:hover,
i.fa-edit:hover,
i.fa-eraser:hover {
  color: #415b76;
}
i.fa-trash-o:hover {
  color: #c43d4a;
}
