  <ul class="nav navbar-nav">
    <li>
      <a href="/#/dashboard" active-nav-link="active"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a>
    </li>
  <% if can? :update, Evaluation # admins + managers %>
    <li>
      <a href="/#/admin/evaluations" active-nav-link="active"><i class="fa fa-file-text-o fa-lg"></i> Evaluations</a>
    </li>
  <% end %>
  <% if can? :create, Form # admins + managers %>
    <li>
      <a href="/#/admin/forms" active-nav-link="active"><i class="fa fa-list-alt fa-lg"></i> Forms</a>
    </li>
  <% end %>
  <% if can? :update, User # admins only %>
    <li>
      <a href="/#/admin/staff" active-nav-link="active"><i class="fa fa-users fa-lg"></i> Staff</a>
    </li>
  <% end %>
  </ul>
  <ul class="nav navbar-nav navbar-right" ng-controller="CurrentUserCtrl">
    <li style="padding-top:6px;">
      <img ng-src="//secure.gravatar.com/avatar/{{ user.email_hash }}?s=40&d=blank" alt="">
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">{{ user.name }} <b class="caret"></b></a>
      <ul class="dropdown-menu fi-dropdown-menu">
      <% if can? :show, Account # admins + managers %>
        <li>
          <a href="/#/admin/account"><i class="fa fa-cog fa-lg"></i> Account</a>
        </li>
      <% end %>
        <li>
          <a href="/#/profile"><i class="fa fa-user fa-lg"></i> Profile</a>
        </li>
        <li>
          <a data-method="delete" href="/logout" rel="nofollow"><i class="fa fa-sign-out fa-lg"></i> Logout</a>
        </li>
      </ul>
    </li>
  </ul>