  <ul class="nav navbar-nav">
    <li>
      <a href="/#/dashboard">Dashboard</a>
    </li>
  <% if can? :manage, User # admins only %>
    <li>
      <a href="/#/staff">Staff</a>
    </li>
  <% end %>
  <% if can? :manage, Form # admins only %>
    <li>
      <a href="/#/forms">Forms</a>
    </li>
  <% end %>
  <% if can? :index, Review # admins + managers only %>
    <li>
      <a href="/#/reviews">Reviews</a>
    </li>
  <% end %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
  <% if can? :manage, Account # admins only %>
    <li>
      <a href="/#/account">Account</a>
    </li>
  <% end %>
    <li>
      <a href="/#/profile">Profile</a>
    </li>
    <li>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </li>
  </ul>