<h1>Listing reviews</h1>

<div ng-controller="ReviewCtrl">

<div class="row">

  <div class="col-md-9">
    <table class="table table-hover">
      <tr ng-repeat="review in reviews | orderBy: '+title' ">
        <td>{{ review.title }}</td>
        <td>
          <a href="{{ review.manage_path }}">Manage</a>
          <button class="" data-ng-click="editReview(review)">Edit</button>
          <button class="" data-ng-click="deleteReview(review)">Delete</button>
        </td>
      </tr> 
    </table>
  </div>

  <div class="col-md-3">

    <form accept-charset="utf-8" novalidate name="editableReviewForm">

      <input type="hidden" ng-model="editableReview.id">
      
      <div class="review-group">
        <label for="review_title">Title</label>
        <input id="review_title" class="form-control" ng-model="editableReview.title" type="text">
        <span class="help-block" ng-show="errorName">{{ errorName }}</span>
      </div>

      <div class="actions">
        <input ng-click="saveReview(editableReview)" type="submit" value="Save">
      </div>
      
    </form>

  </div>

</div>

</div>
